body {

    font-family: 'Hanken Grotesk', sans-serif;
    
}

#super {
    height: 100%;
    width: 100%;
}
h3 {
    color: hsl(241, 100%, 89%);
}
h2 {
    color: white;
}

span {
    color: white;
    font-size: 3em;
    font-weight: 800;
}

p {
    font-size: 0.7rem;
    margin-top: -0.5rem;
    color: hsl(241, 100%, 89%)
}

#container {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 35%;
    height: 50%;
    background-color: aqua;
    border-radius: 1.5rem;

}

#result{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
}

#summary {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;

}

.white {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.7rem;
    background-color: red;
    height: 1.5rem;
}

.yellow {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.7rem;
    background-color: blue;
    max-height: fit-content;
    height: 1.5rem;
}

button {

    height: 2rem;
    margin-top: 1rem;
    
}

#circle {

    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 5rem ;
    width: 7.5rem;
    height: 7.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.attribuition {
    display: block;
    position: absolute;
    top: 50rem;
 
}
