/* General tags */

html,
body {
    margin: 0;
    padding: 0;
}


body {
    width: 100vw;
    height: 100vh;
    font-family: 'DM Sans', sans-serif;
}

p {
    
    font-weight: 300;
    font-size: 1rem;
    color: hsl(215, 51%, 70%);
}

/* General containers */

#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(217, 54%, 11%);

}

#container {
    
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 1.2rem;
    border-radius: 1rem;
    background-color: hsl(216, 50%, 16%);
    box-shadow: 0 2.3rem 2.5rem 1.5rem rgba(12,23,41);
    
}

/* Header/Upper part */

header {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 18rem;
}

#block-img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    z-index: 0;
}

#overlay {

    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 0.5rem;
    background-color: hsl(178, 100%, 50%);
    opacity: 0.4;
    z-index: 0;
    visibility: hidden;

}

#eye {

    position: absolute;
    width: 3rem;
    height: 3rem;
    z-index: 1;
    visibility: hidden;
}


#title {

    font-weight: 600;
    color:  hsl(0,0%, 100%);
    margin-bottom: 0;
}



#subtitle {
    white-space: nowrap;
    margin-bottom: 0;
}

/* Middle Section */

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section div {
    display:flex;
    align-items: center;
    column-gap: 0.5rem;
}

.section-icons {
    height: 1rem;

}

#ETH {
    color:hsl(178, 100%, 50%);
    font-weight: 600;

}

hr {
    width: 100%;
    margin: 0;
    border: 0.016rem solid hsl(215, 51%, 70%);
    border-width: 0.016rem 0 0 0;

}

/* Footer Section */

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
    justify-content: flex-start;
}

#jules-image {
    height: 2rem;
    border: 0.016rem solid white;
    border-radius: 1rem;
}

#creator {
    color: white;
    font-weight: 400;
}



/* Attribution Section */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Active states */

#title:hover , #creator:hover {
    color:hsl(178, 100%, 50%);
}


header:hover #overlay   {

    visibility: visible;

}

header:hover #eye   {

    visibility: visible;

}